# Dot Files
.env
.cache

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output binary
*.out
/pingbot*

# Sums
MD5SUM
SHA256SUM

VERSION
dist/
